body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: rgb(36, 122, 122);
    min-height: 100vh; 
    padding-bottom: 20px; 
}

.label {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}

.action button
{
    margin-left: 16px;
    color: red;
}

.kk
{
    margin-right: 16px;
}

.table
{
    text-align: center;
    width: 1504px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: aqua; 
    color: black; 
    border-collapse: collapse; 
}

.table th, .table td 
{
    border: 1px solid black; 
    padding: 8px; 
}